# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\程序员-闫鑫\idea\CRM\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
